<label
  *ngIf="label"
  [innerHTML]="label"
  [attr.for]="id"
  class="label no-pointer-events"
  [class.is-invalid]="ctrl && ctrl.invalid && ctrl.dirty"
  [class.has-value]="_model !== null && _model !== undefined"
></label>
<div class="pos-relative">
  <div
    class="d-inline-flex align-items-center w-100"
    [attr.id]="id"
    [class.has-value]="_model !== null && _model !== undefined"
    [class.is-invalid]="isInvalid(ctrl)"
    #inputGroup
  >
    <input
      class="form-control text-dark-m1 brc-default-m3 rounded-0"
      [class.text-dark-m1]="!readonly"
      [class.brc-h-warning-m1]="!readonly"
      [class.bgc-h-warning-l3]="!readonly"
      [class.has-suffix]="hasAppend"
      [class.has-prefix]="hasPrepend"
      [type]="type"
      [attr.name]="name"
      [attr.id]="id"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [disabledControl]="disabled || readonly"
      [autocomplete]="autocomplete"
      [attr.autocorrect]="autocorrect"
      [attr.x-autocompletetype]="autocomplete"
      [(ngModel)]="_model"
      (ngModelChange)="modelChanged($event)"
      [required]="required"
      [attr.maxlength]="maxlength"
      [attr.minlength]="minlength"
      [attr.min]="min"
      [attr.max]="max"
      [class.has-value]="_model !== null && _model !== undefined"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
    />
  </div>
</div>
