@import "/src/scss/variables";

:host {
  width: 100%;
  position: relative;
  display: inline-block;
  font-weight: 400;

  .form-control.has-suffix.is-invalid {
    background-image: none;
  }

  .is-invalid {
    color: #c26565;
  }
  
  .has-suffix{
    padding-right: 2.5rem;
  }

  .has-prefix{
    padding-left: 2.5rem;
  }

}

