@import "bootstrap/scss/mixins/breakpoints";


$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);



.h1 {
    font-size: 32px;
    font-weight: 500;

    +.sub-header {
        font-size: 16px;
    }
}



.border-ddd {
    border-color: #D0D5D8;
}



.h-60 {
    height: 60px;
}

.h-236 {
    height: 236px;
}


.f-14px {
    font-size: 14px;
}

.f-12px {
    font-size: 12px;
}

.f-bold {
    font-weight: 500;
}


.text-danger {
    color: #c26565 !important;
}

.bg-danger {
    background-color: #fff0f0 !important;
}

.btn {
    height: 48px;
    width: 208px;
    background-color: #00A39E;
    border-color: #00A39E;

    &:active {
        background-color: lighten(#00A39E, 10);
        border-color: #00A39E;
    }
}


.pb-9px {
    padding-bottom: 9px;
}

.px-7px {
    padding-left: 7px;
    padding-right: 7px;
}

.mt-20px {
    margin-top: 20px
}

.mb-29px {
    margin-bottom: 29px;
}


.bg-light-blue {
    background-color: #F4F7FC;
}




@include media-breakpoint-down('md') {
    .border-sm-end {
        border-right: none !important;
    }
    
    .btn {
        width: 100% !important;
    }
}

@include media-breakpoint-up('md') {

    .border-md-0 {
        border-bottom: none !important;
    }



}